* {
  font-family: Montserrat, sans-serif;
}

head {
  display: none;
}

body {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
}

.main-info {
  width: 80%;
  text-align: center;
  position: relative;
  margin: 0 0 0 8%;
  text-align: center;
  display: block;
  padding: 2% 0 2% 0;
  margin-top: 20px;
  background-color: #e9e8e4;
  border-radius: 50px;
}

.main {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  margin: 5% 20% 0 20%;
}

.link {
  text-decoration: none;
  color: #474069;
}

.link:hover {
  color: #FC5E54;
  background-color: #ffffff;
  border-radius: 10px;
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none!important;
}

.row {
  display: inline-block;
  position: relative;
}

.col {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#me {
  width: 256px;
  height: 256px;
}

.destaque {
  font-weight: 900;
  color: #FC5E54;
  text-decoration: none;
}

.destaque:hover {
  background-color: #ffffff;
}

.page-title {
  text-align: center;
}

h1 {
  font-weight: 900;
  text-align: left;
  font-size: 2em;
  color: #474069;
  margin: 0;
}

h3 {
  font-weight: 400;
  color: #474069;
  font-size: 1.5em;
  text-align: left;
}

.tags {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.red {
  background-color: rgb(252,94,84,.2);
  color: #FC5E54;
  border-radius: 30px;
  font-weight: 900;
  padding: 4px 8px 4px 8px;
  text-transform: uppercase;
  font-size: 1em;
  margin-right: 4px;
}

.blue {
  background-color: rgb(43,193,214,.2);
  color: #2bc1d6;
  border-radius: 30px;
  font-weight: 900;
  padding: 4px 8px 4px 8px;
  text-transform: uppercase;
  font-size: 1em;
  margin-right: 4px;
}

.red > #hash {
  color: rgb(252,94,84,.4);
  font-weight: 900;
}

.blue > #hash {
  color: rgb(43,193,214,.4);
  font-weight: 900;
}

.img-cover {
  height: 200px;
}

.sociais {
  text-align: center;
}

.sociais:link {
  text-decoration: none;
}

.sociais:visited {
  text-decoration: none;
}

.pontinho {
  font-weight: 400;
  color: #474069;
  font-size: 1.5em;
}

::placeholder {
  color: #afacbb;
  padding-left: 1em;
}

.rwd-break {
  display: block;
}

#icon-row-block {
  display: block;
  text-align: center;
}

#icon-row {
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 160px;
  height: 160px;
}

footer {
  text-align: center;
  color: #afacbc;
}

footer p{
  display: inline-block;
  margin: 20px 0 20px 0;
  font-size: 0.8em;
}

footer ul {
  display: inline-block;
  list-style: none;
}

footer li {
  display: inline;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  font-size: 0.8em;
}
